import type { <%- component %>Props } from '../typings';

export const <%- component %> = (props: <%- component %>Props) => {
  const { a } = props;

  return (
    <div>
      {a}
    </div>
  );
};
